@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.form_radio_group {
    overflow: hidden;
}

.form_radio_group-item {
    display: inline-grid;
}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 30px;
    line-height: 63px;
    border: 1px solid #008CBA;
    border-radius: 0.5vh;
}

.form_radio_group input[type=radio]:checked + label {
    background: #ffe0a6;
}

.form_radio_group label:hover {
    color: #666;
}

.form_radio_group-itemTwo {
    display: inline-grid;
    content: '';
    top: -1px;
    left: 0;
    width: 18px;
    height: 18px;
    background: hsla(0,0%,100%,.2); ;
    margin: 5px;
}

