@import url('https://fonts.googleapis.com/css?family=Raleway:200');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "monospace";
    color: dodgerblue;
    padding: 0;
}

table.max-size {
    width: 100%;
    height: 100%;
}

#X-table {
    width: 420px;
    border: 1px white;
}

.block-left {
    width: 80%;
    height: 80vh;
    overflow: auto;
    float: left;
    background: white;
}

.block-right {
    width: 20%;
    height: 80vh;
    overflow: auto;
    background: red;
}

.selector {
    position: relative;
    top: 15%;
    left: 60%;
    width: 3%;
    height: 5%;
}

.selector select {
    background: .75rem 1rem;
    border: 1px solid #008CBA;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    color: #008CBA;
    text-align: center;
}


.xselect {
    position: absolute;
    display: inline-block;
    margin: 0 5px;
    background: rgba(0,0,0,0.2);
    border: 0.3vh solid #008CBA;
    border-radius: 0.5vh;
}


.centered {
    text-align: center;
}

.header {
    font-family: "Times New Roman", sans-serif;
    font-size: large;
    color: white;
    padding: 2%;
    background-color: blue;
}

.footer {
    font-family: "Times New Roman", sans-serif;
    font-size: large;
    color: white;
    padding: 2%;
    background-color: blue;
}