*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "monospace";
    color: black;
    padding: 0;
    background-image:url('images/background.jpg');
    background-size: cover;
}

#conteiner {
    width: 300px;
    margin: 0;
    border: 2px #cccccc solid;
}

#top {
    width: 300px;
    height: 80px;
    background: dodgerblue;
    text-align: left;
}

#main {
    position: relative;
    left: 600px;
    background: dodgerblue;
    width: 700px;
    height: 700px;
    border: 2px #cccccc solid;
}