@import url('https://fonts.googleapis.com/css?family=Raleway:200');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "monospace";
    color: dodgerblue;
    padding: 0;
}

table.max-size {
    width: 100%;
    height: 100%;
}

#X-table {
    width: 420px;
    border: 1px white;
}

.block-left {
    width: 80%;
    height: 80vh;
    overflow: auto;
    float: left;
    background: white;
}

.block-right {
    width: 20%;
    height: 80vh;
    overflow: auto;
    background: red;
}

.inputX {
    position: relative;
    top: 1px;
    float: left;
    height: 220px;
    width: 70px;
    margin: 1px;
    border: 0.3vh solid #008CBA;
    border-radius: 0.5vh;
}

.inputR {
    position: relative;
    top: 1px;
    float: left;
    margin: 1px;
    border: 0.3vh solid #008CBA;
    border-radius: 0.5vh;
}

.inputY {
    position: relative;
    top: 1px;
    float: left;
    width: 107px;
    margin: 1px;
    border: 0.3vh solid #008CBA;
    border-radius: 0.5vh;
}

.centered {
    text-align: center;
}

.header {
    font-family: "Times New Roman", sans-serif;
    font-size: large;
    color: white;
    padding: 2%;
    background-color: blue;
}

.footer {
    font-family: "Times New Roman", sans-serif;
    font-size: large;
    color: white;
    padding: 2%;
    background-color: blue;
}

.sendButton {
    position: relative;
    float: left;
    width: 111px;
    height: 46px;
    top: 1px;;
    margin: 1px;
    border: 0.3vh solid #008CBA;
    border-radius: 0.5vh;
}

.resetButton {
    position: relative;
    float: left;
    width: 111px;
    height: 46px;
    top: 1px;
    margin: 1px;
    border: 0.3vh solid #008CBA;
    border-radius: 0.5vh;
}

.block-set {
    width: 200px;
}
